@model SchoolPortal.ViewModel.CourseViewModel.AddCourseViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PortalHomeLayout.cshtml";
}


<div class="page-actions">
    <h3 style="margin-top: 10px;">Manage Courses</h3>
    @*@Html.ActionLink("Add New Course", "Courses", null, new { @id = "modalBtn", @class = "btn btn-primary"  })*@

    <button id="modalBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Add New Course
    </button>

</div>


<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                @Html.Partial("_AddCourse")
            </div>
        </div>
    </div>
</div>


@*<div id="myModal" class="modal fade" role="dialog" data-url='@Url.Action("AddCourse", "Courses")'>
</div>*@

<div class="page-table">
    <table id="table-courses" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Course Name</th>
                <th scope="col">Course Description</th>
            </tr>
        </thead>
    </table>
</div>

<script>
    var PAGE_TYPE = 'courses_page';
</script>


