@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <div class="banner-text-container">
        <h1>THE PLACE FOR</h1>
        <h1>HAPPY AND CREATE</h1>
        <h1>LEARNING</h1>
    </div>
</div>

<div class="container body-content" style="padding-top: 25px;">
    <div>
        <h2>Wisdom for Today</h2>
        <div class="container" >
            <blockquote >
                "If you want to make an apple pie from scratch, you must first create the Universe."
                <footer> Carl Sagan</footer>
            </blockquote>
            
            <blockquote>
                "If you want some cosmic purpose, then you should find yourself, a <strong> worthy </strong> goal."
                <footer> Carl Sagan</footer>
            </blockquote>
                "Put a dynamic quote and image here that changes everyday."
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Events</h2>
            <p> Summary of events </p>
            <a class="btn btn-default" style="float:right;" href="#" target=""> Learn more.. </a>
        </div>
        <div class="col-md-6">
            <h2>Announcements</h2>
            <p> Summary of announcements </p>
            <a class="btn btn-default" style="float:right;" href="#" target="_self"> Learn more.. </a>
        </div>
    </div>
</div>


@section scripts {


}